<div class="container-fluid h-100 mainBackground">

  <div class="row align-items-center h-100">
    <div class="container col-md-10 h-75 p-3" id="contactsContainer">

        <a href="/logout" class="btn btn-danger float-right ml-3 mt-1 p-3">Logout</a>
        <a href="/contacts" class="btn btn-secondary float-right mt-1 p-3">Back</a>
        <h1 class="text-center mt-2">{{#if contactName}}Your Conversation with {{contactName}}{{else}}All Messages Sent{{/if}}</h1>

    </div>
  </div>

</div>
