<div class="container-fluid h-100 mainBackground">
    <div class="row align-items-center h-100">
        <div class="col-8 mx-auto">
            <div class="jumbotron text-center" style="background: white;">
                <img class="mainLogo" src="/assets/messageLogo.png"/>
                <h1 class="display-4">Double Message</h1>
                <hr class="my-4">
                <p class="lead">View and manage your conversations with ease.</p>
                <p class="lead">
                    <a class="btn btn-green btn-lg" href="/login" role="button">Enter</a>
                </p>

            </div>
        </div>
    </div>
</div>
